@use '@css' as *;

.button {
  padding: pxToRem(12) 0;
  min-width: pxToRem(280);
  border-radius: $elem-br;
  background: $btn-bg;
  color: $button-text-color;
  border: none;
  outline: none;
  cursor: pointer;

  &.no-bg {
    background: inherit;
    min-width: auto;
    padding: 0;
    font-size: $secondary-fz;
    color: $btn-bg;
    text-decoration: none;
  }

  &.red {
    color: #ff0000;
  }

  &.align-center {
    align-self: center;
  }

  &.round {
    min-width: 28px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
}
