@use '@css' as *;

.button {
  padding: pxToRem(12) 0;
  min-width: pxToRem(280);
  border-radius: $elem-br;
  background: $btn-bg;
  color: $button-text-color;
  border: none;
  outline: none;
  cursor: pointer;
}
