<form class="form" action="">
    <h1 class="form__title">{{title}}</h1>
    <div class="form__inputs">
        {{{inputs}}}
    </div>
    <div class="form__buttons">
        {{{ buttons }}}
    </div>
</form>