@use '@css' as *;

.modal-bg {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 40%);

  .modal {
    display: flex;
    width: 360px;
    min-height: 257px;
    background: $main-bg-color;
    border-radius: $elem-br;
  }
}
