@use '@css' as *;

.user {
  position: relative;

  @include limited-container;

  &__back-link {
    position: absolute;
    top: rem(48);
    left: rem(48);
  }

  &__container {
    padding: rem(40);

    @include limited-container-inner;

    flex-direction: column;
    align-items: center;
    row-gap: rem(32);
  }

  &__logo {
    width: rem(120);
    height: rem(120);
    border-radius: 100%;
    background: $chat-borders-color;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &__name {
    margin-top: rem(20);
    margin-bottom: rem(48);
    font-size: $title-fz;
    line-height: $title-lh;
  }

  &__details,
  &__btns {
    width: 100%;
    max-width: rem(510);
    display: flex;
    flex-direction: column;
    row-gap: rem(12);
  }

  &__btns {
    margin-top: rem(48);
    align-items: flex-start;
  }

  &__detail {
    padding-bottom: rem(12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $chat-borders-color;

    &:last-child {
      border-bottom: none;
    }

    .input {
      padding-bottom: 0;
      border-bottom: 0;
      color: $second-text-color;
      font-family: $medium-font;
    }
  }

  &__detail-value {
    color: $second-text-color;
  }
}
