@use '@css' as *;

.chats {
  @include limited-container;

  &__container {
    @include limited-container-inner;
  }

  &__list-btns-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(8);
    align-self: flex-end;

    .routerLink {
      display: flex;
      align-items: center;
      color: $second-text-color;
    }

    .routerLink__icon {
      width: rem(16);
    }
  }

  &__list-search {
    margin-top: rem(32);

    .label {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      column-gap: rem(8);
    }

    .label__icon {
      width: rem(20);
      height: rem(20);
    }
  }

  .input.chats-input {
    padding: rem(12) rem(12) rem(12) rem(24);
    border: none;
    border-radius: $elem-br;
    background: $chat-borders-color;

    &:focus + .label,
    &:valid + .label {
      left: 12px;
      top: 50%;

      .label__text {
        display: none;
      }
    }
  }

  &__list {
    padding: rem(20) rem(10);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $chats-list-bg;
    border-right: 1px solid $chat-borders-color;
  }

  &__body {
    padding: rem(12) rem(24);
    background: $main-bg-color;
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $second-text-color;
  }

  &__body-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__body-messages-inputs {
    margin-top: rem(30);
    padding-top: rem(12);
    border-top: 1px solid $chat-borders-color;
    display: flex;
    align-items: center;
    gap: rem(12);

    .input,
    div[data-id] {
      flex-grow: 1;
    }

    .button {
      flex-shrink: 0;
    }
  }

  &__list-container {
    margin-top: rem(16);
  }

  &__message {
    padding: rem(12);
    max-width: 380px;
    width: fit-content;
    height: auto;
    color: $main-text-color;
    border-radius: $elem-br;

    &--from {
      align-self: flex-start;
      background: $second-bg-color;
      border-radius: $elem-br;
    }

    &--to {
      align-self: flex-end;
      background: #e4edfd;
    }
  }
}
