<main class="main chats">
    <div class="chats__container">
        <div class="chats__list">
            <div class="chats__list-link-wrapper">
                {{{ lintToProfile }}}
            </div>
            <div class="chats__list-search">
                {{{ searchInput }}}
            </div>
            <div class="chats__list-container">
                {{{ chatsList }}}
            </div>
        </div>
        <div class="chats__body">
            Выберите чат чтобы отправить сообщение
        </div>
    </div>
</main>