@use '@css' as *;

.chats {
  @include limited-container;
  min-height: calc(100vh - 40px);

  &__container {
    @include limited-container-inner;
    min-height: calc(100vh - 40px);
  }

  &__list-btns-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(8);
    align-self: flex-end;

    .routerLink {
      display: flex;
      align-items: center;
      color: $second-text-color;
    }

    .routerLink__icon {
      width: rem(16);
    }
  }

  &__list-search {
    margin-top: rem(32);

    .label {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      column-gap: rem(8);
    }

    .label__icon {
      width: rem(20);
      height: rem(20);
    }
  }

  .input.chats-input {
    padding: rem(12) rem(12) rem(12) rem(24);
    border: none;
    border-radius: $elem-br;
    background: $chat-borders-color;

    &:focus + .label,
    &:valid + .label {
      left: 12px;
      top: 50%;

      .label__text {
        display: none;
      }
    }
  }

  &__list {
    padding: rem(20) rem(10);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $chats-list-bg;
    border-right: 1px solid $chat-borders-color;
  }

  &__body {
    padding: rem(12) rem(24);
    background: $main-bg-color;
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $second-text-color;
  }

  &__body-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: rem(8);
  }

  &__body-messages-inputs {
    margin-top: rem(30);
    padding-top: rem(12);
    border-top: 1px solid $chat-borders-color;
    display: flex;
    align-items: center;
    gap: rem(12);

    .input,
    div[data-id] {
      flex-grow: 1;
    }

    .button {
      flex-shrink: 0;
    }
  }

  &__list-container {
    margin-top: rem(16);
  }

  &__message {
    padding: rem(12);
    max-width: 380px;
    width: fit-content;
    height: auto;
    color: $main-text-color;
    border-radius: $elem-br;
    display: flex;
    flex-direction: column;

    &--from {
      align-self: flex-start;
      background: $second-bg-color;
      border-radius: $elem-br;
    }

    &--to {
      align-self: flex-end;
      background: #e4edfd;
    }
  }

  &__message-date {
    align-self: flex-end;
    font-size: rem(12);
  }

  &__body-header {
    padding: rem(8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $second-text-color;
  }

  &__more-dropdown {
    position: relative;
  }

  &__more-dropdown-wrapper {
    display: none;
    position: absolute;
    bottom: rem(-120);
    right: 0;
    width: rem(210);
    height: rem(110);
    background: $second-bg-color;
    padding: rem(12);
    flex-direction: column;
    row-gap: rem(8);
    border-radius: $elem-br;
    &.active {
      display: flex;
    }

    .button {
      min-width: 100%;
    }
  }

  .show-more-actions-btn {
    width: rem(24);
    height: rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $btn-bg;
    border-radius: 100%;
    cursor: pointer;
  }

  .chat__users {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    color: #1e1e1e;
  }

  .chat__user {
    display: flex;
    align-items: center;
    column-gap: rem(4);
    img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
  }
}
