@use '@css' as *;

.main {
  flex-direction: column;
}

.error__title {
  font-size: rem(40);
  line-height: rem(40);
}

.error__subtitle {
  margin-top: rem(20);
  font-size: $title-fz;
  line-height: $title-lh;
}

.link-wrapper {
  margin-top: rem(70);
}
