@use '@css' as *;

.main {
  flex-direction: column;
}

.error__title {
  font-size: pxToRem(40);
  line-height: pxToRem(40);
}

.error__subtitle {
  margin-top: pxToRem(20);
  font-size: $title-fz;
  line-height: $title-lh;
}

.link-wrapper {
  margin-top: pxToRem(70);
}
