@use './utils' as *;
@use '@components/form/form';
@use '@components/routerLink/routerLink';
@use '@components/chatPreview/chatPreview';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
#app,
.main {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto Regular', sans-serif;
  background-color: $main-bg-color;
  font-size: $regular-fz;
  line-height: $regular-lh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  padding: rem(20);

  &__list {
    display: flex;
    align-self: center;
    justify-content: center;
    column-gap: rem(12);
  }

  &__list-item {
    list-style: none;
  }
}

.server-error {
  color: red;
}
